/* CSS formatting */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/* CSS properties */

:root {
  --primary-pale-color: hsl(225, 100%, 94%);
  --primary-bright-color: hsl(245, 75%, 52%);

  --neutral-pale-color: hsl(225, 100%, 98%);
  --neutral-desaturated-color: hsl(224, 23%, 55%);
  --neutral-dark-color: hsl(223, 47%, 23%);

  --main-ff: 'Red Hat Display', sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

html {
  font-family: var(--main-ff);
}

p {
  font-size: 16px;
}

/* CSS main styles */

body {
  background-color: var(--primary-pale-color);
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  max-width: 450px;
  max-height: 700px;
  border-radius: 20px;
  /* Hide image corners that don't get border radius */
  overflow: hidden;
  box-shadow: 0px 20px 60px -30px var(--neutral-desaturated-color);
}

.payment-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.description,
.plan-order,
.confirm,
.cancel {
  margin: 0.5rem 0;
}

.description {
  padding: 0 2rem;
  text-align: center;
}

.plan-order {
  background-color: var(--neutral-pale-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.plan-block {
  display: flex;
}

.plan-price {
  padding: 0 1.5rem;
}

.confirm {
  width: 100%;
}

.cancel {
  width: max-content;
}



